* {
    box-sizing: border-box;
    background-color: #000000;
    text-align: center;
    color: #52aa5d;
}

header {
    font-size: 2.5em;
    color: #2bd9fe;
}

img {
    width: 80%;
}


body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#myVideo {
    left: 0;
    bottom: 0;
    min-height: 50%;
    min-width: 50%;
    max-height: 50%;
    max-width: 50%;
}

.content {
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #2bd9fe;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

